*{
    background-color: rgb(0, 3, 12);
}

.navBar{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

h1{
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 204, 145);
    font-size: 55px;
}

.navbor{
    height:3px;
}

.input-box{
    text-align: center;
    height: 45px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
}

.button{
    margin-top: 10px;;
    height: 50px;
    width: 150px;
    color: white;
    background-color: rgb(255, 183, 96);
    border-radius: 25px;
}

.entry{
    padding-top: 25px;
    text-align: center;
    text-align: center;
}

.result-box {
    position: absolute;
    background-color: rgb(0, 0, 0); /* Match your page background */
    border: rgb(255, 183, 96) 1px solid;
    width: 350px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
    z-index: 1000;
    font-family: sans-serif;
}

.result-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.result-box li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;
}

.result-box li:hover {
    background-color: rgba(255, 183, 96, 0.2);
}
